<html>
  <head>
    <meta charset='UTF-8' />
    <style>
      body {
        font-family: sans-serif;
        color: #333;
        line-height: 1.4;
      }
      .button {
        display: inline-block;
        background-color: #1a73e8;
        color: #fff !important;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        margin-top: 10px;
      }
      hr {
        border: none;
        border-top: 1px solid #eee;
        margin: 20px 0;
      }

      .fallback-link-p {
        font-size: 0.8em;
      }
    </style>
  </head>
  <body>
    <p>Szervusz {{fullName}},</p>

    <p>
      Kérésednek megfelelően létrehoztunk egy linket a jelszavad
      visszaállításához. Kattints az alábbi gombra:
    </p>

    <p>
      <a href='{{resetLink}}' class='button'>Jelszó visszaállítása</a>
    </p>

    <p class='fallback-link-p'>
      Ha a gomb nem működik, másolja be ezt a linket a böngésző címsorába:
      {{resetLink}}
    </p>

    <p>
      <i>Ez a link 1 óráig érvényes!</i>
    </p>

    <p>
      Ha nem te kérted ezt, egyszerűen hagyd figyelmen kívül ezt az e-mailt.
    </p>

    <hr />

    <p>Köszönettel,<br />SubnettingApp</p>
  </body>
</html>