@import url("fonts.css");


/* Results page */

.container .count-label {
    text-align: center;
}

.entry {
    display: block;
    transition: box-shadow .2s;
    padding: 5px 10px;
    border-radius: 5px;
    width: auto;
    border: 1px solid;
    margin-bottom: 15px;
    border-width: 0px
}

.entry table {
    display: inline;
    border-collapse: separate;
    border-spacing: 10px;
}

.entry p {
    display: inline;
}

.index-label {
    display: inline;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    float: right;
    text-align: center;
    margin: 0;
    margin-top: 5px;
}

.entry .abbr-label {
    display: none;
}

/* Phone devices */
@media screen and (max-width: 425px) {

    .entry label {
        display: none;
    }

    .entry .abbr-label {
        display: inline;
    }
}

/* Config page */
#configPage {
    margin-bottom: 10px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

#configPage input, select {
    margin-bottom: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  color: inherit;
  border-radius: 5px;
  padding: 5px;
  padding-right: 20px;
  transition: outline .2s;
  max-width: 90%;
}

select:hover {
    cursor: pointer;
}

.container.config-page-container {
    text-align: center;
}

.container.config-page-container form {
    display: inline-block;
    
}

.container.config-page-container form h2 {
    margin-top: 5px;
    text-align: center;
    opacity: 0.8;
}

.group-page {
    margin-bottom: 10px;
}

.group-page .group-span {
    display: block;
    padding-bottom: 2px;
    margin-bottom: 10px;
    font-style: italic;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}



/* Error page */

@keyframes flash {
   0% { opacity: 0.2; }
   50% { opacity: 1; }
   100% { opacity: 0.2 }
}

.container.error h1 {
    animation: flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


.container.error {
    margin: auto;
    text-align: center;
}

.container.error table {
    text-align: left;
    margin: auto;
}