.header {
  overflow: hidden;
  padding: 20px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-weight: bold;
  font-size: 0.7em;
  display: inline;
  padding: 1em 0.5em;
  border-radius: 5px;
  margin: 0;
}

.header a {
  transition: color 0.3s;
  display: inline-block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.header-actions {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 0.75rem;
  font-weight: 500;
}

.header-actions button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-width: 0;
  border-radius: 5px;
  font: inherit;
}

.header-actions button .material-icons {
  opacity: 0.9;
  font-size: 1.2em;
  margin-right: 2px;
}

.header-actions button:hover {
  cursor: pointer;
}

.header-actions button:disabled {
  opacity: 0.5;
}

@media (max-width: 570px) {
  .username {
    display: none;
  }
}
