.header {
  overflow: hidden;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header .logo {
  font-weight: bold;
  font-size: 0.7em;
  display: inline;
  padding: 1em 0.5em;
  border-radius: 5px;
  margin: 0;
}

.header a {
  transition: color 0.3s;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
