/* General */

body {
  font-family: "Jetbrains Mono";
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

.container {
  padding: 18px;
  justify-content: center;
}

/* Header */

.header {
  overflow: hidden;
  padding-left: 20px;
  padding-top: 20px;
}

.header .logo {
  font-weight: bold;
  font-size: 0.7em;
  display: inline;
  padding: 1em 0.5em;
  border-radius: 5px;
  margin: 0;
}

.header a {
  transition: color 0.3s;
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}

/* Footer */

.footer {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer-separator {
    height: 10px;
}

.footer .left {
    display: inline;
    float: left;
    padding: 0 10px 0 0;
    text-align: left;
}

.footer .right {
    display: inline;
    float: right;
    padding: 0 10px 0 0;
    text-align: right;
}

.footer a {
    transition: color .3s;
    text-decoration: none;
    margin: 0;
}

.footer hr {
    display: inline;
    width: 1px;
    height: 3px;
    margin-right: 5px;
    margin-left: 5px;
}

.footer label {
    padding: 0 3px 0 3px;
}