<div class="container dashboard">
  <button class="new-btn" (click)="newCalculation()">
    {{ "dashboard.new_calculation" | translate }}
  </button>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <div #historyList class="history-list">
    <div *ngFor="let item of items" class="history-card entry">
      <div class="card-info" (click)="openItem(item)">
        <h4 *ngIf="item.title">{{ item.title }}</h4>
        <h4 class="title-placeholder" *ngIf="!item.title">
          {{ "dashboard.no_title" | translate }}
        </h4>
        <p>{{ item.networkAddress }}/{{ item.networkMask }}</p>
        <small>{{ item.createdAt | date : "short" }}</small>
      </div>

      <button
        class="delete-btn"
        title="{{ 'dashboard.delete_tooltip' | translate }}"
        (click)="deleteItem(item); $event.stopPropagation()"
      >
        <i class="material-icons">delete</i>
      </button>
    </div>

    <div *ngIf="loading" class="loading">
      {{ "dashboard.loading" | translate }}
    </div>
  </div>
</div>
